#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb > #backgroundBox {
  position: absolute;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb > #alignmentBox {
  position: relative;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Table_1 {
  position: absolute;
  width: 463.6253341674803px;
  height: 60.50000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 {
  width: 25.0%;
  height: 100.0%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 .Cell_5 > *:first-child {
  margin-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 .Cell_5 > *:last-child {
  margin-right: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 .Cell_5 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_5 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_1 {
  width: 40.01220703125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_1 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_1 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 {
  width: 25.0%;
  height: 100.0%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 .Cell_6 > *:first-child {
  margin-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 .Cell_6 > *:last-child {
  margin-right: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 .Cell_6 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_6 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_2 {
  width: 51.6943359375px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_2 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_2 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 {
  width: 25.0%;
  height: 100.0%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 .Cell_7 > *:first-child {
  margin-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 .Cell_7 > *:last-child {
  margin-right: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 .Cell_7 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_3 {
  width: 100.19921874999977px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_3 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_3 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 {
  width: 25.0%;
  height: 100.0%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 .Cell_8 > *:first-child {
  margin-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 .Cell_8 > *:last-child {
  margin-right: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 .Cell_8 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_8 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_4 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_4 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_4 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_1 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Table_2 {
  position: absolute;
  width: 129.2813335418703px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 {
  width: 99.99999999999983%;
  height: 100.0%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 .Cell_10 > *:first-child {
  margin-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 .Cell_10 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_5 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_5 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_5 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Ellipse_1 {
  width: 70.00000000000023px;
  height: 60.99999999999997px;
  min-height: 60.99999999999997px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Showcard Gothic',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Showcard Gothic',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Showcard Gothic',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_16 {
  position: absolute;
  width: 41.0px;
  height: 40.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_1 {
  position: absolute;
  width: 41.0px;
  height: 40.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_7 {
  position: absolute;
  width: 895.8867187500007px;
  min-height: 216.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Segoe Print',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_7 span {
  color: #286CE3;
  text-align: center;
  text-decoration: none;
  font-family: 'Segoe Print',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #286CE3;
  text-decoration: none;
  font-family: 'Segoe Print',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_149 {
  position: absolute;
  width: 1366.98779296875px;
  height: 2.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Polygon_11 {
  position: absolute;
  width: 13.600000381469727px;
  height: 7.8372883796691895px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_5 {
  position: absolute;
  width: 1366.0px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_15 {
  position: absolute;
  width: 19.248985290527344px;
  height: 19.20000648498535px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rect_4 {
  position: absolute;
  width: 2.40000057220459px;
  height: 7.78775691986084px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_17 {
  position: absolute;
  width: 2.840817451477051px;
  height: 2.840817451477051px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_18 {
  position: absolute;
  width: 7.4938812255859375px;
  height: 8.032655715942383px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_19 {
  position: absolute;
  width: 18.90377426147461px;
  height: 18.900022506713867px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_20 {
  position: absolute;
  width: 9.706939697265625px;
  height: 9.706932067871094px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Circle_5 {
  position: absolute;
  width: 2.2655029296875px;
  height: 2.275604248046875px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_21 {
  position: absolute;
  width: 19.0px;
  height: 18.884960174560547px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_22 {
  position: absolute;
  width: 8.126953125px;
  height: 15.2890625px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Panel_5 {
  width: 1366.0px;
  height: 348.0000000000009px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_63 {
  position: absolute;
  width: 275.0px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_63 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_63 .valign {
  vertical-align: top;
  text-align: left;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_63 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_63 span#rtr-s-Paragraph_63_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Title_13 {
  position: absolute;
  width: 299.99999999999994px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Title_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Title_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Title_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Title_13 span#rtr-s-Title_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_10 .imageViewport > * {
  width: 142.91045249003665%;
  height: 100.00000000000003%;
  left: -21.455226583082975%;
  top: 1.3441983844416824E-14%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_10 {
  position: absolute;
  width: 314.5816733067726px;
  height: 289.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_3 .imageViewport > * {
  width: 100.00000000000007%;
  height: 113.62617762736653%;
  left: -0.0%;
  top: -6.813088813683356%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_3 {
  position: absolute;
  width: 314.4999999999998px;
  height: 290.0000000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image .imageViewport > * {
  width: 142.91045249003665%;
  height: 100.00000000000003%;
  left: -21.455226583082975%;
  top: 1.3441983844416824E-14%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image {
  position: absolute;
  width: 314.5816733067726px;
  height: 289.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_2 .imageViewport > * {
  width: 100.00000000000007%;
  height: 113.62617762736653%;
  left: -0.0%;
  top: -6.813088813683356%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_2 {
  position: absolute;
  width: 314.4999999999998px;
  height: 290.0000000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_4 .imageViewport > * {
  width: 142.91045249003665%;
  height: 100.00000000000003%;
  left: -21.455226583082975%;
  top: 1.3441983844416824E-14%;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Image_4 {
  position: absolute;
  width: 314.5816733067726px;
  height: 289.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_34 {
  position: absolute;
  width: 22.821897506713867px;
  height: 16.200000762939453px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Path_11 {
  position: absolute;
  width: 16.168716430664062px;
  height: 23.0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_39 {
  position: absolute;
  width: 423.3300781250001px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_39 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_39 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Rectangle_39 span#rtr-s-Rectangle_39_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_35 {
  position: absolute;
  width: 269.4089543317613px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_35 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_36 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_36 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-73a8af6f-52ea-4086-a597-c8b3cbb63afb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}