#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Table_18 {
  position: absolute;
  width: 463.6253341674803px;
  height: 60.50000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 {
  width: 25.0%;
  height: 100.0%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .Cell_46 > *:first-child {
  margin-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .Cell_46 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .Cell_46 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 {
  width: 40.01220703125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 span#rtr-s-Paragraph_111_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 {
  width: 25.0%;
  height: 100.0%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 .Cell_47 > *:first-child {
  margin-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 .Cell_47 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 .Cell_47 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_47 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_112 {
  width: 51.6943359375px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_112 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_112 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_112 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_112 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_112 span#rtr-s-Paragraph_112_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 {
  width: 25.0%;
  height: 100.0%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 .Cell_48 > *:first-child {
  margin-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 .Cell_48 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 .Cell_48 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_48 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_113 {
  width: 100.19921874999977px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_113 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_113 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_113 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_113 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_113 span#rtr-s-Paragraph_113_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 {
  width: 25.0%;
  height: 100.0%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 .Cell_66 > *:first-child {
  margin-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 .Cell_66 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 .Cell_66 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_66 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_114 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_114 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_114 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_114 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_114 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_114 span#rtr-s-Paragraph_114_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Table_19 {
  position: absolute;
  width: 129.2813335418703px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 {
  width: 99.99999999999983%;
  height: 100.0%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 .Cell_10 > *:first-child {
  margin-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 .Cell_10 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_133 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_133 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_133 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_133 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_133 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_133 span#rtr-s-Paragraph_133_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_1 {
  width: 70.00000000000023px;
  height: 60.99999999999997px;
  min-height: 60.99999999999997px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Segoe Print',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Segoe Print',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Segoe Print',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Segoe Script',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span {
  color: #4122CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Segoe Script',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #4122CC;
  text-decoration: none;
  font-family: 'Segoe Script',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 557.6406667709346px;
  height: 314.00000000000034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}